@{
    ViewBag.Title = "Contact";
}
<div class ="jumbotron">
    <h1>Контакты</h1>
    <h3>@ViewBag.Message</h3>
</div class>


<address>
    <p>Базанов Максим Сергеевич</p>
    <p>Какая-то улица в Санкт-Петербурге</p>
    <p>Санкт-Петербург, Россия , Индекс</p>
    <abbr title="Phone">P:+7 (999) 523-88-10</abbr>
    
</address>

<address>
    <strong>email:</strong>   <a href="mailto:bazanov1996@mail.ru">bazanov1996@mail.ru</a><br />
    <strong>email:</strong> <a href="mailto:kirpichicus@gmail.com">kirpichicus@gmail.com</a>
</address>