@{
    ViewBag.Title = "Дешифратор";
}
<div class="jumbotron">
    <h1 >Дешифратор</h1>
    <h3>Расшифровка/зашифровка данных</h3>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-6 ">
            <form id="InputForm" method="post" action="/Home/Encrypt"></form>
            <table>
                <tr>
                    <td>
                        <input id="Shifte" form="InputForm" name="Shifte" type="number" min="-33" max="33" step="1" value="@ViewBag.Shifte" />
                        <input id="Enable" form="InputForm" name="Enable" type="checkbox" value="true" />
                        <input id="Enable" name="Enable" form="InputForm" type="hidden" value="false" />
                        <span>Автоматически</span>
                        <input type="submit" form="InputForm" class="btn btn-default" value="Расшифровать" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea id="TextArea1" c form="InputForm" cols="20" rows="20" name="InputText" runat="server">@ViewBag.Text</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/Home/Upload" id="Upload" enctype="multipart/form-data" method="post"></form>
                            <input id="btn-download" form="Upload" class="btn btn-default" type="file" value="Выберите файл" title="Выберите файл" name="download" />
                            <input id="btn-download" form="Upload" class="btn btn-default" type="submit" value="Загрузить" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <form method="post" id="OutputForm" action="/Home/DownloadFile"></form>
            <table>
                <tr>
                    <td>
                        <input id="fileExtension" form="OutputForm" name="fileExtension" type="radio" value="docx" />
                        <span>docx</span>
                        <input id="fileExtension" form="OutputForm" name="fileExtension" type="radio" value="txt" checked="checked" />
                        <span>txt</span>
                        <input id=" btn-download" type="submit" form="OutputForm" cols="20" rows="10" class="btn btn-default" value="Скачать файл" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea id="EncryptedText" name="Encrypted" form="OutputForm">@ViewBag.Encrypted</textarea>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
